# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/documentation
documentation.json

# System Files
.DS_Store
Thumbs.db

# Temporary files that can be used to quickly note some stuff, but that does not need to be checked in
temp.json
temp.ts
temp.log
temp.md
# Temporary folder where everything can be ignored
.temp/
